<h1 align="center"> Show contacts of user</h1>

<div class="ui inverted segment">
  <%= link_to "Create Contact", new_contact_path, class: "ui inverted green basic button" %>
  <%= link_to "Create Group", new_group_path, class: "ui inverted violet basic button" %>
</div>

<table class="ui celled inverted table">
  <thead>
  <tr><th>First Name</th>
    <th>Last Name</th>
    <th>Phone number</th>
  </tr></thead>
  <tbody>
  <% @contactgroups.each do |contact| %>
    <tr>
      <td ><%=link_to contact.contact.name , contact_path(contact.contact.id) %></td>
      <td ><%=link_to contact.contact.last_name, contact_path(contact.contact.id) %></td>
      <td ><%=link_to contact.contact.phone_number, contact_path(contact.contact.id) %></td>
    </tr>
  <%end %>
  </tbody>
</table>
